<!DOCTYPE html>
<html lang="en" class="dark">

  <head>
    <title>
      {{ title }}
    </title>

    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% endif %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
    <link rel="stylesheet" href="/site.css" />

    <!-- Favicon -->

    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>

  <body class="bg-violet-900">

    <!-- Site header -->

    {% include 'partials/header.njk' %}

    <!-- Main content -->

    {{ content | safe }}

  </body>

</html>
