<!DOCTYPE html>
<html lang="en" class="h-full" x-data="{ dark: localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches) }" :class="{ dark: dark }">
  <head>
    <title>
      {% if title %}
        {{ title }} - Dariusz Sobczyk
      {% else %}
        Dariusz Sobczyk's personal website
      {% endif %}
    </title>

    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% endif %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
    <link rel="stylesheet" href="/site.css" />

    {# Plausible.io analytics #}
    <script defer data-domain="dsobczyk.com" src="https://plausible.io/js/script.js"></script>

    {# Favicon #}
    <link rel="icon" type="image/png" href="/images/favicon.png">

    {# Set theme #}
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>

    {# Alpine.js #}
    <script defer src="/scripts/alpine.js"></script>
  </head>

  <body class="h-full leading-7 text-zinc-700 dark:text-zinc-300 bg-white dark:bg-zinc-900 flex flex-col">
    <div class="grow-0 shrink-0">

      {# Site header #}
      {% include 'partials/header.njk' %}
    </div>

    <div class="grow">

      {# Site content #}
      {{ content | safe }}
    </div>

    <div class="grow-0 shrink-0">

      {# Site footer #}
      {% include 'partials/footer.njk' %}
    </div>
  </body>
</html>
