---
layout: layouts/page.njk
---
<article class="max-w-3xl px-8 prose sm:prose-lg prose-gray dark:prose-invert mx-auto">

  <!-- Title -->

  <div class="not-prose">
    <h1 class="text-4xl sm:text-5xl text-gray-900 dark:text-gray-50 text-center leading-tight">
      {{ title }}
    </h1>

    <!-- Meta -->

    <p class="text-md mt-2 text-center text-gray-600 dark:text-gray-400">
      <span>
        {{ data.date | publishDate }} in
      </span>
      <span>
        {%- for tag in data.tags or tags -%}
          {%- if tag != "post" -%}
            {{ tag }}
          {%- endif -%}
        {%- endfor -%}
      </span>
      <span>
        &nbsp;·&nbsp; {{ content | readingTime }}
      </span>
    </p>
  </div>

  <!-- Content -->

  <div class="pt-8">
    {{ content | safe }}
  </div>
</article>
