---
layout: layouts/page.njk
---
<main class="mx-auto max-w-3xl p-6">
  <article>

    {# Header #}
    <div class="relative mx-auto max-w-3xl">

      {# Back button #}
      <a href="/blog" class="transition inline-block mt-8 text-center underline decoration-teal-400 decoration-2 underline-offset-2 hover:bg-teal-400 hover:text-zinc-900 px-1 -mx-1">
        ← All posts
      </a>

      {# Post title #}
      <h1 class="mt-8 font-bold text-zinc-900 dark:text-zinc-100">
        {% if favourite %}
          <span class="mr-1 text-pink-500">
            ★
          </span>
        {% endif %}
        {{ title }}
      </h1>

      {# Post meta #}
      <div class="mt-6 text-zinc-400 dark:text-zinc-500">
        <time datetime="{{ data.date }}">
          {{ data.date | publishDate }}
        </time>
        <span>|</span>
        <span>
          {{ content | readingTime }} minutes read
        </span>
        <span>|</span>
        {% for tag in tags %}
          {% if tag != 'post' %}
            <span class="mr-1">#{{ tag }}</span>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    {# Content #}
    <div class="mx-auto max-w-3xl mt-6 prose prose-zinc dark:prose-invert">
      {{ content | safe }}
    </div>
  </article>
</main>
