---
layout: layouts/page.njk
title: 404 Not Found
description: It looks like the page you're looking for doesn't exist
---
<main class="mx-auto h-full flex flex-col justify-center max-w-3xl p-6">

  {# Heading #}
  <h1 class="font-bold text-zinc-900 dark:text-zinc-100">
    HTTP/1.1 404 Not Found
  </h1>

  {# Subheading #}
  <p class="mt-6">
    It looks like the page you're looking for doesn't exist.
  </p>

  {# Navigation #}
  <div class="mt-6 flex gap-x-6">

    {# Back button #}
    <a href="/" class="transition inline-flex items-center underline decoration-teal-400 decoration-2 underline-offset-2 hover:text-zinc-900 hover:bg-teal-400 px-1 -mx-1">
      ← Go back home
    </a>
  </div>
</main>
