---
layout: layouts/page.njk
title: 404 Not Found
description: It looks like the page you're looking for doesn't exist
---
<main class="mx-auto h-full flex flex-col justify-center max-w-3xl p-6">

  {# Title #}
  <h1 class="font-bold text-zinc-800 dark:text-zinc-100">
    HTTP/1.1 404 Not Found
  </h1>

  {# Subtitle #}
  <h2 class="mt-6">
    It looks like the page you're looking for doesn't exist.
  </h2>

  {# Navigation #}
  <div class="mt-6 flex gap-x-6">

    {# Back button #}
    <a href="/" class="inline-flex items-center text-teal-500 hover:text-zinc-100 hover:dark:text-zinc-900 hover:bg-teal-500 px-1 -mx-1">
      ← Go back home
    </a>
  </div>
</main>
