---
layout: layouts/page.njk
title: A few words about me
---
<main class="mx-auto max-w-3xl p-6">
  {# Intro #}
  <div class="flex flex-col sm:flex-row sm:items-center gap-6">
    {# Photo #}
    <img src="/images/photo.jpeg" alt="" class="rounded-full w-20 h-20" />

    {# Heading #}
    <h1 class="font-bold text-zinc-900 dark:text-zinc-100">
      My name is Dariusz Sobczyk. I'm a lifelong programmer, game developer, husband, dad of <span class="text-zinc-400 dark:text-zinc-600 line-through">one</span> two, and BJJ blue belt. I live in <span class="text-zinc-400 dark:text-zinc-600 line-through">Wrocław</span> the middle of nowhere.
    </h1>
  </div>

  {# Story #}
  <div id="story" class="mt-6 max-w-3xl prose dark:prose-invert">
    <p>
      My journey with computers began almost three decades ago when my dad brought home a <a href="https://en.wikipedia.org/wiki/Commodore_64">Commodore 64</a>. Since I wasn't a genius kid, my interactions with computers boiled down to smashing joysticks and copying listings from books and magazines.
    </p>

    <p>
      Over time, as I understood more and more of how computers work, I began creating my first programs. These were mainly simple text games, visual editors, and simple demos of various kinds. As time passed, I did the same thing but on different hardware. At one point, I owned <a href="https://en.wikipedia.org/wiki/Commodore_64">Commodore 64</a> and <a href="https://en.wikipedia.org/wiki/Commodore_128">128D</a>, <a href="https://en.wikipedia.org/wiki/Amiga_600">Amiga 600</a> and <a href="https://en.wikipedia.org/wiki/Amiga_1200">1200</a>, and <a href="https://en.wikipedia.org/wiki/Atari_ST">Atari ST</a>.
    </p>

    <p>
      As an avid game player, I owned game consoles, too. The first one was <a href="https://en.wikipedia.org/wiki/Pegasus_(console)">Pegasus</a>, a clone of the <a href="https://en.wikipedia.org/wiki/Nintendo_Entertainment_System_models">Famicom</a> console, which was highly popular in my country due to its low price and high availability. The second one was the original PlayStation. My all-time favorite games from that time are (in no particular order):
      <ul>
        <li>
          <span>
            <a href="https://en.wikipedia.org/wiki/Montezuma%27s_Revenge_(video_game)">
              Montezuma's Revenge
            </a>
            (Commodore)
          </span>
        </li>
        <li>
          <span>
            <a href="#">
              MicroProse Soccer
             </a>
             (Commodore)
           </span>
        </li>
        <li>
          <span>
            <a href="https://en.wikipedia.org/wiki/Oxyd">
              Oxyd
            </a>
            (Atari ST)
          </span>
        </li>
        <li>
          <span>
            <a href="https://en.wikipedia.org/wiki/Superfrog">
              Superfrog
            </a>
            (Amiga)
          </span>
        </li>
        <li>
          <span>
            <a href="https://en.wikipedia.org/wiki/Mortal_Kombat_II">
              Mortal Kombat II
            </a>
          </span>
          (Amiga)
        </li>
        <li>
          <span>
            <a href="https://en.wikipedia.org/wiki/Rick_Dangerous">
              Rick Dangerous
            </a>
          </span>
          (Amiga)
        </li>
        <li>
          <span>
            <a href="https://en.wikipedia.org/wiki/Montezuma%27s_Revenge_(video_game)">
              Tiny Toon Adventures
            </a>
            (Pegasus)
          </span>
        </li>
        <li>
          <span>
            <a href="https://pl.wikipedia.org/wiki/Oddworld:_Abe%E2%80%99s_Oddysee">
              Oddworld: Abe's Oddysee
            </a>
          </span>
          (PS1)
        </li>
        <li>
          <span>
            <a href="https://en.wikipedia.org/wiki/Driver_2">
              Driver 2
            </a>
          </span>
          (PS1 & PC)
        </li>
      </ul>
    </p>

    <p>
      In the following years, the proportion of coding to gaming shifted in favor of the first. I tried many languages and environments, including <a href="https://en.wikipedia.org/wiki/Commodore_BASIC">BASIC</a>, <a href="https://en.wikipedia.org/wiki/AMOS_(programming_language)">AMOS</a>, <a href="https://en.wikipedia.org/wiki/Turbo_Pascal">Turbo Pascal</a>, <a href="https://en.wikipedia.org/wiki/Delphi_(software)">Delphi</a>, and <a href="https://en.wikipedia.org/wiki/C%2B%2B">C++</a>. The <a href="https://en.wikipedia.org/wiki/C%2B%2BBuilder">C++ Builder's</a> VCL and editors were so much fun to work with back then. After all those experiments, I finally settled with C++.
    </p>

    <p>
      I never got on with schooling, so I went straight to work after high school. I took on various jobs, but nothing stuck for more than a few months. At some point, frustrated with how my life was going, I decided it was time to focus on things that I enjoy doing...
    </p>

    <p>
      ...but that's the story to be told on another occasion 😊
    </p>

    <p>
      I currently work at <a href="https://techland.pl">Techland</a>, where I help develop online technology behind the <a href="#">Dying Light 2</a> game. I also work on my most ambitious side project, which I hope to announce soon.
    </p>
  </div>

  {# Contact #}
  <div class="mt-12 pt-12 border-t border-zinc-300 dark:border-zinc-700">
    <div class="flex flex-row justify-center gap-x-8">
      {# Email #}
      <a href="mailto:{{ contact.email }}" class="transition font-semibold underline decoration-teal-400 decoration-2 underline-offset-2 hover:bg-teal-400 hover:text-zinc-900 px-1 -mx-1">
        Email
      </a>

      {# LinkedIn #}
      <a href="{{ social.linkedin.url }}" class="transition font-semibold underline decoration-teal-400 decoration-2 underline-offset-2 hover:bg-teal-400 hover:text-zinc-900 px-1 -mx-1">
        LinkedIn
      </a>

      {# X/Twitter #}
      <a href="{{ social.twitter.url }}" class="transition font-semibold underline decoration-teal-400 decoration-2 underline-offset-2 hover:bg-teal-400 hover:text-zinc-900 px-1 -mx-1">
        X/Twitter
      </a>

      {# GitHub #}
      <a href="{{ social.github.url }}" class="transition font-semibold underline decoration-teal-400 decoration-2 underline-offset-2 hover:bg-teal-400 hover:text-zinc-900 px-1 -mx-1">
        GitHub
      </a>
    </div>
  </div>

  {# Career #}
  <div id="career" class="mt-12 pt-12 border-t border-zinc-300 dark:border-zinc-700">
    <ol role="list" class="space-y-6">
      {% for job in career %}
        <li class="flex gap-4">
          <dl class="flex flex-auto flex-wrap gap-x-2">
            <dt class="sr-only">
              Company
            </dt>
            <dd class="w-full flex-none font-bold text-zinc-900 dark:text-zinc-100">
              {{ job.company }}
            </dd>
            <dt class="sr-only">
              Role
            </dt>
            <dd class="">
              {{ job.role }}
            </dd>
            <dt class="sr-only">
              Date
            </dt>
            <dd class="ml-auto">
              <time datetime="{{ job.start }}">{{ job.start }}</time> <span aria-hidden="true">—</span> <time datetime="{{ job.end }}">{{ job.end }}</time>
            </dd>
            <dt class="sr-only">
              Tech
            </dt>
            <dd class="w-full flex-none text-zinc-400 dark:text-zinc-500">
              {% for tag in job.tags %}
                #{{ tag }}
              {% endfor %}
            </dd>
          </dl>
        </li>
      {% endfor %}
    </ol>
  </div>

  {# Download CV #}
  <div class="mt-12 pt-12 border-t border-zinc-300 dark:border-zinc-700">
    <a class="transition inline-block p-1 -mx-1 leading-none w-full text-zinc-900 dark:text-zinc-100 hover:text-zinc-900 text-center font-bold underline decoration-teal-400 decoration-2 underline-offset-2 hover:bg-teal-400" href="/files/CV_DSobczyk.pdf">
      Download CV ↓
    </a>
  </div>
</main>
