---
layout: layouts/page.njk
title: Dariusz Sobczyk's personal website and blog.
---

<div class="max-w-3xl mx-auto">
  <main class="p-8 prose prose-zinc dark:prose-invert max-w-none">
    <div class="sm:flex items-center not-prose">
      <div class="flex-shrink-0">
        <img class="inline-block w-20 h-20 rounded-full" src="/images/photo.jpg" alt="">
      </div>
      <p class="mt-4 sm:mt-0 sm:ml-4 prose prose-zinc dark:prose-invert">
        Hi there! 👋 I'm Dariusz Sobczyk, a software engineer from Poland 🇵🇱. I spend my days hacking game engines and building web applications.
      </p>
    </div>

    <div class="pt-8">
      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mb-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
        </svg>
        Summary
      </h2>

      <p>
        I'm helping the team at Techland develop the company's proprietary game engine. I'm also running a small web development company on the side.
      </p>

      <p>
        I was hooked on computers since I got Commodore 64 from my dad. I've been smashing joysticks and typing listings from computer magazines for most of my youth.
      </p>

      <p>
        When I grew up, I replaced Amiga with PC, computer magazines with Stack Overflow, joysticks with gamepads, and Amos with C++.
      </p>

      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mb-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
        </svg>
        Career
      </h2>
      <p>
        I started programming commercially back in 2010. I've been doing it continuously for over a decade. I've used various languages, but I'm most competent with C++ and JavaScript. I worked on games, embedded systems, and web applications.
      </p>
      <div class="mt-8 not-prose">
        <ul role="list" class="divide-y dark:divide-zinc-700">
          {% for item in about.career %}
            <li class="py-4">
              <div class="flex space-x-3">
                <img class="h-8 w-8 rounded-full" src="{{item.logo}}" alt="">
                <div class="flex-1">
                  <div class="flex items-center justify-between">
                    <h3 class="text-md sm:text-lg font-medium text-zinc-900 dark:text-zinc-100">
                      <span class="inline-flex flex-col sm:flex-row sm:space-x-2">
                        <span>
                          {{item.role}}
                        </span>
                        <span class="text-zinc-400 dark:text-zinc-500">
                          @ {{item.company}}
                        </span>
                      </span>
                    </h3>
                  </div>
                  <p class="mt-1 text-sm text-zinc-600 dark:text-zinc-400">
                    {{item.time}}
                  </p>
                  <p class="mt-3 text-md text-zinc-700 dark:text-zinc-300">
                    {{item.description}}
                  </p>
                  <ul role="list" class="mt-3 flex flex-col sm:flex-row sm:space-x-2">
                    {% for skill in item.skills %}
                      <li class="dark:text-zinc-700">
                        <span class="inline-flex items-center rounded-full dark:bg-zinc-800 px-2.5 py-0.5 text-xs font-medium text-zinc-300">
                          {{skill}}
                        </span>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>

      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mb-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
        </svg>
        Skills
      </h2>

      {% for skill in about.skills %}
        <h4>
          {{ skill.name }}
        </h4>

        <p>
          {{ skill.summary }}
        </p>
      {% endfor %}

      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mb-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z" />
        </svg>
        Projects
      </h2>
      <p>
        Besides my commercial work, I also enjoy coding in my free time. Most projects I've built were for fun and have never been published. You can find the ones that deserve sharing below or on my <a href="https://github.com/untydev">GitHub account</a>.
      </p>

      <div class="mt-8 not-prose">
        <div class="flow-root">
          <ul role="list" class="-my-5 divide-y divide-zinc-200 dark:divide-zinc-700">
            {% for item in about.projects %}
              <li class="py-4">
                <div class="flex items-center space-x-4">
                  <div class="min-w-0 flex-1">
                    <p class="truncate text-md font-bold text-gray-900 dark:text-zinc-100">
                      {{item.name}}
                    </p>
                    <p class="truncate text-md text-zinc-500 dark:text-zinc-300">
                      {{item.description}}
                    </p>
                  </div>
                  <div>
                    <a href="{{item.href}}" class="inline-flex items-center rounded-full border border-zinc-300 dark:border-zinc-700 bg-zinc-50 dark:bg-zinc-900 px-2.5 py-0.5 text-sm font-medium leading-5 text-zinc-700 dark:text-zinc-100 shadow-sm hover:bg-zinc-100 dark:hover:bg-zinc-800">
                      View
                    </a>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mb-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
        </svg>
        Education
      </h2>
      <p>
        I earned BSc in Informatics with a specialization in Software Engineering. The title of my BSc thesis was "Architecture, design, and implementation of a browser based multiplayer game.".
      </p>

      <p>
        The accompanying project was a classic Pong game with a client-server multiplayer mode. The implementation included a matchmaking system, input prediction, and animation interpolation. The game was built without the support of any engine.
      </p>

      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mb-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
        </svg>
        Contact
      </h2>
      <p>
        The best way to get in touch with me is via <a href="mailto:hi@untypical.dev">email</a>. Another option is to send me a message on <a href="https://linkedin.com/in/dsobczyk">LinkedIn</a>. Feel free to share your thoughts about the content on my website, send job offers, or just say hello 🙂
      </p>
    </div>
  </main>
</div>
