---
layout: layouts/page.njk
title: Writing on programming, software design, and stuff
---
<main class="mx-auto max-w-3xl p-6">

  {# Header #}
  <div>

    {# Title #}
    <h1 class="font-bold text-zinc-800 dark:text-zinc-100">
      Writing on programming, software design, and stuff.
    </h1>

    {# Subtitle #}
    <p class="mt-6">
      All my long-form thoughts and tutorials, organized chronologically.
    </p>

    {# Links #}
    <div class="mt-6 flex gap-x-6">
      <a href="/feed.xml" class="text-teal-500 hover:text-zinc-100 hover:dark:text-zinc-800 hover:bg-teal-500 px-1 -mx-1">
        Subscribe
      </a>
    </div>
  </div>

  {# Posts list #}
  <div class="mt-12 flex flex-col gap-y-6">
    {% for post in collections.posts %}
      <article class="flex flex-col">

        {# Title #}
        <h1 class="font-bold flex flex-row items-start">
          <span class="mr-2">→</span>
          <a href="{{ post.url }}" class="text-zinc-800 dark:text-zinc-200 hover:text-teal-500 hover:dark:text-teal-500">
            {{ post.data.title }}
          </a>
        </h1>

        {# Meta #}
        <span class="ml-5 text-zinc-400 dark:text-zinc-500">
          <time datetime="{{ post.data.date }}">
            {{ post.data.date | publishDate }}
          </time>
          <span>|</span>
          <span>
            {{ post | readingTime }} minutes read
          </span>
          <span>|</span>
          {% for tag in post.data.tags %}
            {% if tag != 'post' %}
              <span class="mr-1">#{{ tag }}</span>
            {% endif %}
          {% endfor %}
        </span>
      </article>
    {% endfor %}
  </div>
