---
layout: layouts/page.njk
title: Writing on programming, software design, and stuff
---
<main class="mx-auto max-w-3xl p-6">

  {# Heading #}
  <h1 class="font-bold text-zinc-800 dark:text-zinc-100">
    Writing on programming, software design, and stuff.
  </h1>

  {# Subheading #}
  <p class="mt-6">
    All my long-form thoughts and tutorials, organized chronologically.
  </p>

  {# Links #}
  <div class="mt-6 flex gap-x-6">
    <a href="/feed.xml" class="px-1 -mx-1 transition underline decoration-teal-400 decoration-2 underline-offset-2 hover:bg-teal-400 hover:text-zinc-900">
      Subscribe
    </a>
  </div>

  {# Posts list #}
  <div class="mt-12 flex flex-col gap-y-6">
    {% for post in collections.posts %}
      <article class="flex flex-col">

        {# Title #}
        <h1 class="font-bold flex flex-row items-start">
          <span class="mr-2">→</span>
          <a href="{{ post.url }}" class="transition px-1 -mx-1 text-zinc-900 dark:text-zinc-100 hover:bg-teal-400 hover:text-zinc-900 hover:dark:text-zinc-900">
            {{ post.data.title }}
          </a>
        </h1>

        {# Meta #}
        <span class="ml-5 text-zinc-400 dark:text-zinc-500">
          <time datetime="{{ post.data.date }}">
            {{ post.data.date | publishDate }}
          </time>
          <span>|</span>
          <span>
            {{ post | readingTime }} minutes read
          </span>
          <span>|</span>
          {% for tag in post.data.tags %}
            {% if tag != 'post' %}
              <span class="mr-1">#{{ tag }}</span>
            {% endif %}
          {% endfor %}
        </span>
      </article>
    {% endfor %}
  </div>
