---
layout: layouts/page.njk
description: I hack game engines and glue web apps for fun (and profit).
---
<main class="mx-auto h-full flex flex-col justify-center max-w-3xl p-6">

  {# Title #}
  <h1 class="font-bold text-zinc-800 dark:text-zinc-100">
    Hi there 👋
  </h1>

  {# Subtitle #}
  <p class="mt-6">
    I'm Dariusz. I program video games and backends for fun (and profit).
  </p>

  {# Links #}
  <div class="mt-6 flex gap-x-6">

    {# LinkedIn #}
    <a href="{{ social.linkedin.url }}" class="text-teal-500 hover:text-zinc-100 hover:dark:text-zinc-800 hover:bg-teal-500 px-1 -mx-1">
      LinkedIn
    </a>

    {# X (Twitter) #}
    <a href="{{ social.twitter.url }}" class="text-teal-500 hover:text-zinc-100 hover:dark:text-zinc-800 hover:bg-teal-500 px-1 -mx-1">
      X (Twitter)
    </a>

    {# GitHub #}
    <a href="{{ social.github.url }}" class="text-teal-500 hover:text-zinc-100 hover:dark:text-zinc-800 hover:bg-teal-500 px-1 -mx-1">
      GitHub
    </a>
  </div>
</main>
