---
layout: layouts/page.njk
title: Dariusz Sobczyk's personal website and blog.
---
<div class="max-w-3xl mx-auto px-8">
  <main>
    <h1 class="text-4xl sm:text-5xl text-center text-gray-900 dark:text-gray-50">
      Links
    </h1>

    <p class="mt-6 text-lg dark:text-gray-50 text-center leading-8">
      This page contains the best things I've read on the Internet.
    </p>
  </main>
</div>
