---
layout: layouts/page.njk
title: My favorite books and things I've found on the Internet
---
<main class="mx-auto max-w-3xl p-6">

  {# Title #}
  <h1 class="font-bold text-zinc-800 dark:text-zinc-100">
    My favorite books and things I've found on the Internet.
  </h1>

  {# Subtitle #}
  <p class="mt-6">
    I collect everything I read in <a href="https://omnivore.app" class="text-teal-500 hover:text-zinc-100 hover:dark:text-zinc-900 hover:bg-teal-500 px-1 -mx-1">Omnivore</a>, <a href="https://calibre-ebook.com/" class="text-teal-500 hover:text-zinc-100 hover:dark:text-zinc-900 hover:bg-teal-500 px-1 -mx-1">Calibre</a>, and a bookshelf. Occasionally, I update this list with (subjectively) the best stuff.
  </p>

  {# Links #}
  <div class="mt-12 prose prose-zinc dark:prose-invert">

    {# Programming #}
    <div>

      {# Title #}
      <h2>
        Programming
      </h2>

      {# List #}
      <ul class="mt-6">
        <li>
          <a href="https://www.amazon.com/Philosophy-Software-Design-John-Ousterhout/dp/1732102201">
            A Philosophy of Software Design
          </a>
          <span>by John Ousterhout</span>
          <p>
            It's the best book about writing maintainable code I've read. It's pragmatic and contains guides, examples, and good explanations. It's also free of "one size fits all" rules that made other books and authors famous.
          </p>
        </li>
        <li>
          <a href="https://www.stroustrup.com/dne.html">
            Design and Evolution of C++
          </a>
          <span>by Bjarne Stroustrup</span>
          <p>
            It's a fairly old book written by the creator of the C++ language. Instead of describing the language's features, he explains its philosophy and trade-offs behind its design. I recommend it to anyone who cares about C++.
          </p>
        </li>
      </ul>
    </div>

    {# Science #}
    <div class="mt-12">

      {# Title #}
      <h2>
        Science
      </h2>

      {# List #}
      <ul>
        <li>
          <a href="https://www.amazon.com/Simply-Einstein-Demystified-Richard-Wolfson/dp/0393325075">
            Simply Einstein: Relativity Demystified
          </a>
          <span>by Richard Wolfson</span>
          <p>
            An excellent and detailed explanation of Einstein's relativity theories for mortals. I've read it twice and will probably read it a third time soon.
          </p>
        </li>
      </ul>
    </div>

    {# Fiction #}
    <div class="mt-12">

      {# Title #}
      <h2>
        Fiction
      </h2>

      {# List #}
      <ul>
        <li>
          <a href="https://andyweirauthor.com/#project-hail-mary">
            Project Hail Mary
          </a>
          <span>by Andy Weir</span>
          <p>
            I love all books from this author, but Project Hail Mary is an absolute banger. I read it two times. It's so good.
          </p>
        </li>
        <li>
          <a href="https://michalgolkowski.pl/en/books/sybirpunk-en">
            SybirPunk
          </a>
          <span>by Michał Gołkowski</span>
          <p>
            I read all three tomes one after the other. It's a story filled with action and bold characters, set in an exciting world.
          </p>
        </li>
        <li>
          <a href="https://www.goodreads.com/book/show/149621.Ice_Station_Zebra">
            Ice Station Zebra
          </a>
          <span>by Alistair MacLean</span>
          <p>
            It's a highly entertaining spy story taking place during the Cold War.
          </p>
        </li>
      </ul>
    </div>
  </div>
</main>
