---
layout: layouts/page.njk
---

<div class="max-w-3xl mx-auto px-8">

  <!-- Main -->
  <main class="prose sm:prose-lg prose-gray dark:prose-invert">

    <!-- Title -->
    <section class="not-prose">
      <h1 class="text-4xl sm:text-5xl text-gray-900 dark:text-gray-50 text-center leading-tight">
        Resume
      </h1>

      <p class="text-md mt-2 text-center text-gray-600 dark:text-gray-400">
        Dariusz Sobczyk &nbsp;·&nbsp; Software Developer since 2010
      </p>
    </section>

    <!-- Summary -->
    <section>
      <h2 class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 sm:w-7 sm:h-7 mr-2 sm:mr-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
        </svg>
        Summary
      </h2>

      <p>
        I've been hooked on computers since I got my first Commodore 64 from my dad. Smashing joysticks and typing listings found in computer magazines were my primary activities back then. I later replaced joysticks with gamepads, computer magazines with Stack Overflow, and BASIC with C++.
      </p>

      <p>
        I shipped numerous commercial products, including games, embedded systems, and web apps. I am obsessed with the quality of my work and those around me. I'm a perfectionist and an individualist, but I've learned to deal with it when there's no place for it. I love experimenting, learning, and sharing knowledge with others.
      </p>
    </section>

    <!-- Career -->
    <section>
      <h2 class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 sm:w-7 sm:h-7 mr-2 sm:mr-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
        </svg>
        Career
      </h2>

      <div class="mt-8 not-prose">
        <ul role="list" class="divide-y dark:divide-gray-700">
          {% for item in resume.career %}
            <li class="py-4">
              <div class="flex space-x-3">
                <img class="h-8 w-8 rounded-full" src="{{item.logo}}" alt="">
                <div class="flex-1">
                  <div class="flex items-center justify-between">
                    <h3 class="text-md sm:text-lg font-bold text-gray-900 dark:text-gray-100">
                      <span class="inline-flex flex-col sm:flex-row sm:space-x-2">
                        <span>
                          {{item.role}}
                        </span>
                        <span class="text-gray-400 dark:text-gray-500">
                          @ {{item.company}}
                        </span>
                      </span>
                    </h3>
                  </div>
                  <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">
                    {{item.time}}
                  </p>
                  <p class="mt-3 text-md text-gray-600 dark:text-gray-300">
                    {{item.description}}
                  </p>
                  <ul role="list" class="mt-3 flex flex-col sm:flex-row sm:space-x-2">
                    {% for skill in item.skills %}
                      <li class="dark:text-gray-700">
                        <span class="inline-flex items-center rounded-full bg-gray-200 dark:bg-gray-800 px-2.5 py-0.5 text-xs font-bold text-gray-500 dark:text-gray-300">
                          {{skill}}
                        </span>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <!-- Skills -->
    <section>
      <h2 class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 sm:w-7 sm:h-7 mr-2 sm:mr-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
        </svg>
        Skills
      </h2>

      {% for skill in resume.skills %}
        <h4>
          {{ skill.name }}
        </h4>

        <p>
          {{ skill.summary }}
        </p>
      {% endfor %}

      <h2 class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 sm:w-7 sm:h-7 mr-2 sm:mr-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
        </svg>
        Education
      </h2>
      <p>
        I earned BSc in Informatics with a specialization in Software Engineering. The title of my BSc thesis was "Architecture, design, and implementation of a browser based multiplayer game."
      </p>

      <p>
        The accompanying project was an interpretation of a classic Pong game with a client-server multiplayer mode. It included a matchmaking system, input prediction, and animation interpolation, and was built without support of any game engine.
      </p>
    </section>

    <!-- Contact -->
    <section>
      <h2 class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 sm:w-7 sm:h-7 mr-2 sm:mr-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
        </svg>
        Contact
      </h2>

      <ul>
        <li>
          <span class="font-bold">Email:</span>&nbsp;{{ resume.contact.email }}
        </li>

        <li>
          <span class="font-bold">Phone:</span>&nbsp;{{ resume.contact.phone }}
        </li>

        <li>
          <span class="font-bold">GitHub:</span>&nbsp;<a href="https://github.com/{{ resume.contact.github }}" class="underline">{{ resume.contact.github }}</a>
        </li>

        <li>
          <span class="font-bold">LinkedIn:</span>&nbsp;<a href="https://linkedin.com/{{ resume.contact.linkedin }}" class="underline">{{ resume.contact.linkedin }}</a>
        </li>

        <li>
          <span class="font-bold">Twitter:</span>&nbsp;<a href="https://twitter.com/{{ resume.contact.twitter }}" class="underline">{{ resume.contact.twitter }}</a>
        </li>
      </div>
    </section>
  </main>
</div>
