<footer class="mx-auto max-w-3xl p-6 mt-6">

  {# Copyright notice #}
  <div class="text-center text-zinc-500 dark:text-zinc-500">
    © <span x-data="{ year: new Date().getFullYear() }" x-text="year">2022</span> Dariusz Sobczyk. All rights reserved.
  </div>
</footer>
