<header class="relative bg-gray-900 inset-x-0 top-0 z-50">

  <!-- Gradient -->
  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#c4b5fd] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>

  <div class="max-w-3xl mx-auto">

    <!-- Logotype -->
    <div class="px-8 py-16">
      <a href="/">
        <img src="/images/untypical.png" alt="">
      </a>
    </div>

    <!-- Navigation -->
    <div class="px-8 pb-4 flex justify-between">
      <div class="flex items-center space-x-8">

        <!-- Blog -->
        <a href="/blog" class="sm:text-lg text-white hover:underline">
          Blog
        </a>

        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/dsobczyk/" class="sm:text-lg text-white hover:underline">
          LinkedIn
        </a>

        <!-- Twitter -->
        <a href="https://twitter.com/untydev" class="sm:text-lg text-white hover:underline">
          Twitter
        </a>

        <!-- GitHub -->
        <a href="https://www.github.com/untydev" class="sm:text-lg text-white hover:underline">
          GitHub
        </a>
      </div>

      <!-- Theme -->
      <button id="themeToggleBtn" class="text-white hover:text-indigo-500 dark:hover:text-yellow-500">

        <!-- Sun icon -->
        <span class="is-dark hidden flex items-center">
          {#<span class="sr-only">
            Switch to light mode
          </span>#}
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 sm:h-5 sm:w-5" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
          </svg>
        </span>

        <!-- Moon icon -->
        <span class="is-light hidden flex items-center">
          <span class="sr-only">
            Switch to dark mode
          </span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 sm:h-5 sm:w-5" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
          </svg>
        </span>
      </button>
    </div>
  </div>
</header>
