<header class="mx-auto max-w-3xl p-6 mb-6" x-data="{ open: false, path: window.location.pathname }">
  <nav class="flex justify-between items-center flex-wrap gap-y-6" aria-label="Global">

    {# Logo #}
    <a href="/" class="flex flex-row font-bold text-zinc-900 dark:text-zinc-100 leading-none mr-4">
      <span class="select-none">DS</span>
      <span class="blinking-cursor"></span>
    </a>

    {# Menu #}
    <div class="flex items-center gap-x-6 font-semibold text-zinc-900 dark:text-zinc-100 leading-none">
      <a href="/about" class="transition p-1 -mx-1 hover:bg-teal-400 hover:dark:text-zinc-900" x-data="{ active: path === '/about/' }" :class="{ 'bg-teal-400': active, 'dark:text-zinc-900': active }">About</a>
      <a href="/blog" class="transition p-1 -mx-1 hover:bg-teal-400 hover:dark:text-zinc-900" x-data="{ active: path === '/blog/' }" :class="{ 'bg-teal-400': active, 'dark:text-zinc-900': active }">Blog</a>
      <a href="/links" class="transition p-1 -mx-1 hover:bg-teal-400 hover:dark:text-zinc-900" x-data="{ active: path === '/links/' }" :class="{ 'bg-teal-400': active, 'dark:text-zinc-900': active }">Links</a>

      {# Theme switcher #}
      <button id="themeToggleBtn" class="transition relative hover:text-teal-400 ml-2" x-on:click="dark = !dark; localStorage.setItem('theme', dark ? 'dark' : 'light')">
        <span class="absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">

          {# Sun icon #}
          <span class="hidden flex items-center" :class="{ hidden: !dark }">
            <span class="sr-only">
              Switch to light mode
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
              <path d="M10 2a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0v-1.5A.75.75 0 0110 2zM10 15a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0v-1.5A.75.75 0 0110 15zM10 7a3 3 0 100 6 3 3 0 000-6zM15.657 5.404a.75.75 0 10-1.06-1.06l-1.061 1.06a.75.75 0 001.06 1.06l1.06-1.06zM6.464 14.596a.75.75 0 10-1.06-1.06l-1.06 1.06a.75.75 0 001.06 1.06l1.06-1.06zM18 10a.75.75 0 01-.75.75h-1.5a.75.75 0 010-1.5h1.5A.75.75 0 0118 10zM5 10a.75.75 0 01-.75.75h-1.5a.75.75 0 010-1.5h1.5A.75.75 0 015 10zM14.596 15.657a.75.75 0 001.06-1.06l-1.06-1.061a.75.75 0 10-1.06 1.06l1.06 1.06zM5.404 6.464a.75.75 0 001.06-1.06l-1.06-1.06a.75.75 0 10-1.061 1.06l1.06 1.06z" />
            </svg>
          </span>

          {# Moon icon #}
          <span class="hidden flex items-center" :class="{ hidden: dark }">
            <span class="sr-only">
              Switch to dark mode
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
              <path fill-rule="evenodd" d="M7.455 2.004a.75.75 0 01.26.77 7 7 0 009.958 7.967.75.75 0 011.067.853A8.5 8.5 0 116.647 1.921a.75.75 0 01.808.083z" clip-rule="evenodd" />
            </svg>
          </span>
        </span>
      </button>
    </div>
  </nav>
</header>
